.card.mt-2
  .card-header
    img.card-img(src=apartment.coverPhotoUrl, alt='stan')
  .card-body
    h5(class='card-title' style='white-space: initial')
      if apartment.locationUrl
        a.card-link.btn.btn-primary(href=`${apartment.locationUrl}`)
          include ./apartment-address
      else
        include ./apartment-address
    ul.list-group.list-group-flush.list-group-horizontal-sm
      li.list-group-item
        span #{apartment.price}€
      li.list-group-item
        span #{apartment.size}m²
      li.list-group-item
        span #{apartment.structure}
      li.list-group-item
        span #{apartment.floor}
      li.list-group-item
        span #{apartment.furnished}
    .card-body
      a.card-link.btn.btn-primary(href=`${apartment.url}`) saznaj više
